
    <div class="container">
      <h1>Contact Me</h1>
      <form method="post" action="index.php">
        <div class="form-row">
          <div class="form-col col-sm">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
          </div>
        <div class="form-col col-sm">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email"  placeholder="Enter your email" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col col-sm-12">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control" type="text" rows="3" id="message" name="message" style="height: 200px;" required data-error="Write your message"></textarea>
            <div class="help-block with-errors"></div>
            </div>
        </div>
        
        <div>
        <button type="submit" name="submit" class="btn btn-primary" style="margin: 10px 0px 10px 0px; padding: 5px 15px 5px 15px; font-size: 18px;">Send</button>
        </div>
      </form>
            <div class="ribbon">
        <p class="under-construction">
          Under Construction
        </p>
        <div class="construction-contact-info">
          <p>Nick Hagopian-Zirkel</p>
          <p>NickHagoZirk@gmail.com</p>
      </div>
      </div>
    </div>
<div class="contactInfo">
    <p>Nick Hagopian-Zirkel</p>
    <p>NickHagoZirk@gmail.com</p>

</div>
<!-- <form> -->
    