<div>
<h2>Objective</h2>
<p class = "textbox">Ambitious college graduate seeking a full-time position. Experienced in a wide variety of popular web-facing, object-oriented and statistical languages. Offers strong interpersonal skills and drive to work in a highly collaborative setting. Able to bring a comprehensive mathematical background to any project through a double major in both computer science and mathematics.</p>

<a href = "assets/resumeredac.jpg">
<img src="../../assets/resumeredac.jpg" width="100%">
</a>


</div>
