  <div class="small-title">
        <h1>Nick Hagopian-Zirkel</h1>
        <h3>Software Engineer II</h3>
    </div>
<div class="home-cover">

  <div class="pic-item">
    <img src={{imageUrl}}  width="500px" height="500px">
  </div>

  <div class="flex-item">
    <h1>Nick Hagopian-Zirkel</h1>
    <h3>Software Engineer II</h3>
    <h2>About</h2>
    <p>
      Hello! I'm a young enthusiastic professional hoping to some day become an old cynical senior engineer. 
      But today, I'm excited about what new technologies may bring, I enjoy training the next generation of
      developers and I take pride in optimizing development and team processes. By reputation I am 
      a DevOps engineer but I have yet to find any part of a stack I can't appreciate. It's been a journey 
      but it has been x years x days, x hours, and x seconds since my first Hello World program and I
      look forward to what the future may bring. {{ time | date: 'hh:mm:ss a' }}
    </p>
  </div>
</div>

<!-- <div *ngIf="imgBoolean" class="img-cover" (click)="imgBoolean = false"></div> -->

<!-- <app-img-viewer *ngIf="imgBoolean" [img]="imgString"></app-img-viewer> -->
