@import "src/styles";

.home-cover {
  display: flex;
  overflow: hidden;
}

.pic-item {
  max-height: 48vw;
  // min-height: 40vw;
  width: 100vh;
  max-width: 48vw;
  height: 80%;
  overflow: hidden;
  flex-shrink: 0;
  margin: auto 0px;
  text-align: center;
}



.flex-item {
  // max-width: 40vw;
  padding: 30px;
  // padding: 0px 10px;
  width: 550px;

  flex-basis: auto;
  margin: auto auto;
  // margin: auto 1px;
  // height: 100%;
}




h1 {
  text-align: center;
  margin: 0px;
  font-size: 37px;
  font-weight: 300;
}

h3 {
  text-align: center;
  margin: 0px;
  font-size: 24px;
  font-weight: 300;
  color: $text;
}

h2 {
  color: $primary;
  font-weight: 500;
}

p {
  font-weight: 200;
  font-size: 20px;
}


@media only screen and (min-width: 1014px) {
  .home-cover {
    height: 100%;
  }
  .small-title {
      position: absolute;
      visibility: hidden;
  }
}

@media only screen and (max-width: 1013px) {
  .home-cover {
    // background-color: blue;
    height: calc(100vh - 80px);
  }
    .small-title {
        background-color: $primary2;
        padding: 0px 0px 5px 0px;
        margin:0px 0px 0px 0px;
    }

    .flex-item h1, .flex-item h3 {
      position: absolute;
      visibility: hidden;
  }
}
@media only screen and (min-width: 900px) {

  .pic-item img {
    // display: block;
    max-height: 100%;
    max-width: 100%;
    // width: auto;
    height: auto;
    // height: 100%;
    // width: 100%;
    // width: auto;
  }
}
@media only screen and (max-width: 900px) {
  h2 {
    // padding: 0px;
    margin: 7px 0px;
  }
  .pic-item {
      // max-height: 100vw;
      // width: auto;
      // max-width: 100vh;
      // height: 100%;
      // width: 3px;
      // width: min-content;
      // background-color: blue;
      // text-align: center;
      flex-shrink: 1;
      // // height: 100%;
      padding:10px 0px 0px 0px;

  }

  .pic-item img {
    display: block;
    height: 100%;
    max-height: 50vh; /*actual image width*/
    width: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
    // display: block;
    // height: 100%;
    border-radius: 50%;
  }
  
  
  .flex-item {
    max-width: 90%;
      width: 600px;
      flex-shrink: 0;
      // margin: 0px auto;
      padding: 0px 0px 0px 0px;
    // background-color: blue;
  }

  .home-cover {
      height: calc(100vh - 90px);
      align-items:center;
      flex-direction: column;
  }
  p {
    margin: 0px;
  }
}

@media only screen and (max-width: 600px) {
    .home-cover {
        height: calc(100vh - 11em);
    }
    .flex-item h2{
      position: absolute;
      visibility: hidden;
  }
  p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 450px) {
  .small-title h1{
    font-size: 25px;
  }

  .small-title h3 {
    font-size: 15px;
  }



    .home-cover {
        height: calc(100vh - 260px);
    }
}

